.mainartist {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainartist:hover {
  cursor: pointer;
}
.mainartist > p {
  color: white;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}
.mainartist__img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition: transform 0.2s;
}
@media only screen and (max-width: 640px) {
  .mainartist__img {
    height: 150px;
    width: 150px;
  }
}
.mainartist__img:hover {
  transform: scale(1.05);
}

.header {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
}
@media only screen and (max-width: 640px) {
  .header {
    flex-direction: column;
    width: 75%;
    align-items: center;
  }
}
.header__img {
  margin: 50px;
  width: 200px;
  height: 300px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 640px) {
  .header__img {
    margin: 0px;
  }
}
.header__img > img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
@media only screen and (max-width: 640px) {
  .header__img > img {
    width: 100%;
  }
}
.header__img > p {
  margin-top: 12px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
@media only screen and (max-width: 640px) {
  .header-info {
    margin-top: 20px;
    flex-direction: column;
    width: 75%;
    align-items: center;
  }
}
.header-info__followers {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
@media only screen and (max-width: 640px) {
  .header-info__followers {
    font-size: 25px;
  }
}
.header-info__followers > span {
  font-size: 20px;
  opacity: 0.6;
}
.header-info__popularity {
  margin: 25px 0;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  align-items: center;
  height: 100px;
  overflow-y: hidden;
}
@media only screen and (max-width: 640px) {
  .header-info__popularity {
    font-size: 35px;
  }
}
.header-info__popularity :first-child {
  color: #1ED760;
  font-size: 75px;
  transform: translateY(-20px);
}
@media only screen and (max-width: 640px) {
  .header-info__popularity :first-child {
    font-size: 50px;
  }
}
.header-info__popularity :nth-child(2) {
  transform: translateY(20px);
}

.wrapper-artiscard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artistcard-info {
  display: flex;
  justify-content: space-evenly;
  margin: 0 75px;
}
@media only screen and (max-width: 640px) {
  .artistcard-info {
    flex-direction: column;
    padding: 0 50px;
    align-items: center;
  }
}
.artistcard-info-tracks {
  padding: 25px;
  width: 75%;
}
@media only screen and (max-width: 640px) {
  .artistcard-info-tracks {
    padding: 0;
    width: 350px;
  }
}
.artistcard-info-tracks__title {
  color: white;
  margin: 10px 0;
}
.artistcard-info-tracks__headers {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  grid-gap: 10px;
  text-transform: uppercase;
  opacity: 0.45;
  letter-spacing: 2px;
  color: white;
  margin: 10px 0;
  font-weight: bold;
}
@media only screen and (max-width: 640px) {
  .artistcard-info-tracks__headers {
    grid-template-columns: 2fr 2fr 1fr;
  }
}
.artistcard-info__related {
  padding: 25px 50px;
  width: 20%;
}
@media only screen and (max-width: 640px) {
  .artistcard-info__related {
    width: 80%;
    padding: 25px;
  }
}
.artistcard-info__related__title {
  color: white;
}

.relatedlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .relatedlist {
    flex-direction: row;
    margin: 20px 0;
  }
}
.relatedlist-entry {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 640px) {
  .relatedlist-entry {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-right: 20px;
  }
}
.relatedlist-entry__img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition: transform 0.2s;
}
@media only screen and (max-width: 640px) {
  .relatedlist-entry__img {
    height: 75px;
    width: 75px;
  }
}
.relatedlist-entry__img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.relatedlist-entry__name {
  color: white;
  width: calc(100% - 125px);
  margin: 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 640px) {
  .relatedlist-entry__name {
    margin: 0;
    margin-top: 10px;
    width: 75px;
    text-align: center;
    align-self: center;
  }
}

/*# sourceMappingURL=artist.css.map */
