
.previews{
    display: flex;
    // padding: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.on{
  transition: all;
}

/* .slideInDownAnimated{
  opacity: 0;
  animation: slideInDown .5s ease both;
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 2s forwards;
}


.slideInDownAnimated-enter-active {
  animation: slideInDown .5s ease both;
}
.slideInDownAnimated-leave-active {
  animation: slideInDown .5s ease both;
} */
