
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
}

/*::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.3);
}

::-webkit-scrollbar {
  width: 16px;
}*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }


.slideInDownAnimated{
  opacity: 0;
  animation: slideInDown .5s ease both;
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes slideInDown {
  from {
    transform: translateY(101%);
    opacity: 0; }
  to {transform: translateY(0);
    opacity: 1; }
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

hr{
  width: 100%;
  margin: 10px 0;
  opacity: .25;
}
